/* Tabla del calendario */
.divTable{
	display: table;
	width: 100%;
    height: 700px;
}
.divTableRow {
	display: table-row;
}
.divTableHeading {
	background-color: rgb(238, 238, 238);
	display: table-header-group;
}
.divTableCell, .divTableHead {
	border: 1px solid #000000;
	display: table-cell;
	padding: 1px 10px;
    width: 100px;
}
.divTableHeading {
	background-color:#dedede #4d4d4d;
	display: table-header-group;
	font-weight: bold;
    color: #4d4d4d;
}
.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
}

.not_active {
    visibility: hidden;
}

/* Barra en la que se muestra el dia */
.dia {
    background-color: #80badd;
}

.dia-container {
    padding-left: 2px;
    padding-right: 2px;
}

/* Boton de anadir entrenamiento */
.anadir-entrenamiento{
    margin: 1px;
    background-color: white;
    width: 100%;
    border: hidden;
}

.celda:hover .anadir-entrenamiento{
    background-color: white;
    display: inline;
    border: 1px solid #b5b5b5;
    color: #4e4d4d;
}

.anadir-container{
    padding-left: 3px;
    padding-right: 3px;
}

/* CSS del modal */
#entrenamiento_bloques{
    display: none;
}

#bloques{
    display: none;
}