{% extends 'base.html' %}
{% block title %}
	Calendar
{% endblock %}

{% block css %}
	<link rel="stylesheet" href="static/css/calendar.css">
{% endblock %}

{% block javascript %}
<script src="static/js/calendar.js"></script>
{% endblock %}

{% block content %}
	<table class="table table-bordered border-secundary caption-top calendar">
		<caption>
			<div class="row">
				<div class="col">
					<button id="previous_month" class="btn">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
							<path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
						</svg>
					</button>	
				</div>
				<div id="month" class="col text-center fs-2"></div>
				<div class="col">
					<button id="next_month" class="btn float-end">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
							<path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
						</svg>
					</button>
				</div>
			</div>
		</caption>
		<thead>
			<th class="col-1" scope="col">Lunes</th>
			<th class="col-1" scope="col">Martes</th>
			<th class="col-1" scope="col">Miercoles</th>
			<th class="col-1" scope="col">Jueves</th>
			<th class="col-1" scope="col">Viernes</th>
			<th class="col-1" scope="col">Sabado</th>
			<th class="col-1" scope="col">Domingo</th>
		</thead>
		<tbody id="calendar-body">
			<!-- Fila 1 del calendario -->
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			
			<!-- Fila 2 del calendario -->
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>

			<!-- Fila 3 del calendario -->
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>

			<!-- Fila 4 del calendario -->
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>

			<!-- Fila 5 del calendario -->
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>

			<!-- Fila 6 del calendario -->
			<tr>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</tbody>
	</table>
{% endblock %}